footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #06BEE1; */
  color: whitesmoke;
  background-color: #1e3d42;
  padding: 15px;
}

/* footer {
  color: #c3c4d6;
 color: #2a7d8d;
 
 background-color: #1768AC;
 background-color: #03256C;
 background-color: #2541B2;
 background-color: #06BEE1;
} */