footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #06BEE1;
}

/* footer {
  color: #c3c4d6;
 color: #2a7d8d;
 color: whitesmoke;
 background-color: #1768AC;
 background-color: #03256C;
 background-color: #2541B2;
 background-color: #06BEE1;
} */