/* header {
  color: #c3c4d6;
 color: #2a7d8d;
 color: whitesmoke;
 background-color: #1768AC;
 background-color: #03256C;
 background-color: #2541B2;
 background-color: #06BEE1;
 position: fixed;
 top: 0;
 right:0;
 left:0;
} */


.navbar {
  /* position: fixed !important; */
  top: 0;
  left: 0; 
  right: 0;
  z-index: 1;
  height: 75px;
}
/* 
.container-fluid a {
  margin-top: 10px;
}

.container-fluid form {
  margin-top: 20px;
}

.container-fluid a img {
  margin-top: -20px;
} */


.bg-navbar {
  background-color: #2a7d8d;
}

nav .navbar-nav  a {
  
  color: #D7F9F1 !important;
  font-size: 2.25em;
  
  }
/* .bg-custom-button {
    background-color: #AFBC88 !important;
    color: #D7F9F1 !important; 
    border-color: #D7F9F1 !important;
} */

/* .btn-primary:hover,
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #AFBC88;
  border-color: #D7F9F1; 
}
 */

/* 
.margin-zero {
  margin: 0;
  padding: 0;
} */


@media only screen and (max-width: 990px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .navbar-collapse  {
    text-align: center;
    background-color: rgba(11, 46, 36, 0.7);
    border-radius: 5px;
    font-size: 2.5em;
    -webkit-box-shadow:0px 0px 30px 24px rgba(215,249,241,0.27);
  -moz-box-shadow: 0px 0px 30px 24px rgba(215,249,241,0.27);
  box-shadow: 0px 0px 30px 24px rgba(215,249,241,0.27);
  } 
  
  /* https://cssbud.com/css-generator/css-glow-generator/ */
  
}
 