main {
   color: #c3c4d6;
   color: #2a7d8d;
   color: whitesmoke;
   background-color: #1768AC;
   background-color: #03256C;
   background-color: #2541B2;
   background-color: #06BEE1;
   margin-top: 80px;
   height: 200px;
   /* position: fixed; */
   /* right: 0;
   left: 0; */

  }



  
.float {
   float: left;
}

